<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <br><br>

  The Body Mass Index (BMI) Calculator can be used to calculate 
  BMI value and corresponding weight status while taking age 
  into consideration. BMI is a measurement of a person's leanness 
  or corpulence based on their height and weight, and is 
  intended to quantify tissue mass. 
  <br><br>
  It is widely used as a 
  general indicator of whether a person has a healthy body weight 
  for their height. Specifically, the value obtained from the 
  calculation of BMI is used to categorize whether a person is 
  underweight, normal weight, overweight, or obese depending 
  on what range the value falls between.

<!--  <app-explore-container name="About"></app-explore-container>-->
</ion-content>
